.list{
   
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
  

    
   
    
}

.selection {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-left: 1rem;
    height: 280px;
    width:auto;
    align-items: center;
    background-color: aliceblue;
    justify-content: left;
    
    box-shadow: 0 2px 4px #1b1b1b33;
}

.main{
    display:flex;
    justify-content: left;
    
    
}